_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

_site
public/*
.sass-cache
.jekyll-cache
vendor
.idea

!assets/css/bootstrap/vendor/_rfs.scss
!*/.gitkeep
!*/*/.gitkeep
!*/*/*/.gitkeep
!*/*/*/*/.gitkeep
!*/*/*/*/*/.gitkeep
!*/*/*/*/*/*/.gitkeep