_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

_site
public/*
.sass-cache
.jekyll-cache
vendor
.idea

!*/.gitkeep
!*/*/.gitkeep
!*/*/*/.gitkeep
!*/*/*/*/.gitkeep
!*/*/*/*/*/.gitkeep
!*/*/*/*/*/*/.gitkeep