---
layout: default
title: Blog
---

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Blog</h1>
        {% for post in site.posts limit:3 %}
        <div class="card border-0 shadow rounded-3 overflow-hidden mb-4">
            <div class="card-body p-0 link-hover-blue">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            {% for tag in post.tags limit:3 %}
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">#{{ tag }} &nbsp</div>
                            {% endfor %}
                            <a class="text-decoration-none link-dark stretched-link h2 fw-bolder"
                               href="{{ site.srcurl }}{{ post.url }}"><h3
                                    class="card-title mb-3">{{ post.title }}</h3></a>
                            <p> {{ post.introduction | strip_html | strip_newlines | truncate: 150 }}</p>
                            <a class="stretched-link text-decoration-none" href="{{ site.srcurl }}{{ post.url }}">
                                Ler mais
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="bg-featured-blog"
                             style="background-image: url('{{ site.srcurl }}{{ site.image_path }}{{ post.image }}')"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>