@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format('truetype');
}

.font-Lato {
  font-family: "Lato", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato/Lato-Medium.ttf") format('truetype');
}

.font-Lato-Medium {
  font-family: "Lato-Medium", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato Semibold";
  src: url("../fonts/Lato/Lato-Semibold.ttf") format('truetype');
}

.font-Lato-Semibold {
  font-family: "Lato Semibold", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format('truetype');
}

.font-Lato-Bold {
  font-family: "Lato Bold", var(--bs-font-sans-serif) !important;
}

@font-face {
  font-family: "Lato Black";
  src: url("../fonts/Lato/Lato-Black.ttf") format('truetype');
}

.font-Lato-Black {
  font-family: "Lato Black", var(--bs-font-sans-serif) !important;
}