@keyframes pulse {
  0% {
    transform: scale(.70);

  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(.70);

  }
}

.icon-revert {
  height: 40px;
  width: 40px;
  opacity: 0.8;
  animation: pulse 1.5s infinite;
}